{layout 'partials/dashboard/layout.latte'}

{block title}Dashboard{/block}

{block heading}
	<h1>Welcome {$user->first_name}</h1>
	{* {var $back = '/dashboard'}
	<a class="back" href="{$back}"><i class="fas fa-arrow-circle-left fa-2x"></i></a> *}
{/block}

{block content}
	<h2>Dashboard</h2>
{/block}


